<h1 class="pageTitle">Meld je aan voor een account</h1>








<div class="account_login">
  <div class="loginForm">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    <div class="formfield">

        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>


        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>


        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>


      <h3>Username</h3>

          <%= f.label :"Choose your username" %>
          <%= f.text_field :username %>


      <h3>Bio</h3>




        <%= f.label :"Write your bio (+-100 characters)" %><br />
        <%= f.text_area :bio %>




        <%= f.submit "Sign up", class:"blackBtn" %>
    </div>
    <% end %>

    <%= link_to 'Login?', new_user_session_url%>



  </div>

    </div>
