<p id="notice"><%= notice %></p>

<p>
  <strong>Video title:</strong>
  <%= @video.video_title %>
</p>

<p>
  <strong>Video content:</strong>
  <%= @video.video_content %>
</p>

<h3>number of comments</h3>
<%=  @video.comments.count %>

<hr>

<%=  @video.comments.inspect %>


<hr>

<p>Partial</p>

<%= render 'videos/comment', collection: @video.comments%>
<%= render partial: 'comments/form' %>



<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
