This is the user show page, for id <%= @videos.inspect %>

<h2>Al my videos</h2>


<% @videos.each do |video| %>

<td><%= link_to 'Show', video %></td>

<li><%= link_to video.video_title, video%></li>

<%= video.video_content %>
<hr>
<li>Posted <%= distance_of_time_in_words(video.created_at, video.created_at) %> later</li>
<hr>
<% end%>
