This is the user show page, for id <%= @videos.inspect %>

<h2>Al my videos</h2>


<% @videos.each do |video| %>

<td><%= link_to 'Show', video %></td>

<li><%= link_to video.video_title, video%></li>

<%= video.video_content %>
<hr>
<li>Posted <%= distance_of_time_in_words(video.created_at, video.created_at) %> later</li>
<hr>
<% end%>

<%= @videos.inspect %>

<header>

  <div class="header-wrapper container">

  <div class="logo">
    <h1><a href="/"> VormCheck</a> <span><i class="fas fa-dumbbell"></i>

      </span></h1>
  </div>

  <div class="login">
    <input class="whiteInputField" type="text" placeholder="Username">
    <input class="whiteInputField" type="text" placeholder="Wachtwoord">
    <button class="blackBtn">Login</button>
    <a class="resetPassword" href="/register">Wachtwoord vergeten</a>
  </div>

</div>

</header>

<div class="container">
  <h1 class="pageTitle">Welkom in je account, ${userName} </h1>

  <div class="heroHome">


  </div>

</div>
