
<% if @videos.size == 0 %>
<h1 class="pageTitle">No videos are uploaded yet</h1>
<div class="formContainer">
<p>Be the first to upload!</p>

<%= button_to "Upload a video", new_video_path, class: 'blackBtn', method: :get%>



  </div>


<% else %>

<h1 class="pageTitle">All uploaded videos</h1>


<div class="formContainer">

  <div class="video_upload">
  <%# <%= link_to 'New Video', new_video_path %>

    <% @videos.each do |video| %>

    <div class="single_video">

      <h2><%= link_to video.video_title, video%></h2>
      <% if can? :manage, Video %>
      	<p>Visible only for superadmins and supervisors! </p>
        <p><%= link_to 'Edit this video', edit_video_path(video) %> |
        <%= link_to 'Delete this video', video, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <% end %>
      <p> Uploaded by  user: <%= video.user.username %></p>
      <p>Comments: <%= video.comments.size %></p>
      <p>Posted <%= distance_of_time_in_words(video.created_at, Time.now)  %> ago</p>
<%= image_tag(video.thumbnail)%>
      <% if current_user == video.user %>
      <p><%= link_to 'Edit your video', edit_video_path(video) %> |
      <%= link_to 'Delete your video', video, method: :delete, data: { confirm: 'Are you sure?' } %></p>




        <% end %>

</div>


        <% end %>


</div>

</div>

<% end %>
