<p id="notice"><%= notice %></p>

<p>
  <strong>Video title:</strong>
  <%= @video.video_title %>
</p>

<p>
  <strong>Video content:</strong>
  <%= @video.video_content %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
