<p id="notice"><%= notice %></p>

<p>Delete video?</p>

<% if can? :manage, Video %>
	<p>Visible only for superadmins and supervisors! </p>
<% end %>


<%= link_to 'Destroy', video_path, method: :delete, data: { confirm: 'Are you sure?' } %>

<p>
  <strong>Video title:</strong>
  <%= @video.video_title %>
</p>

<p>
  <strong>Video content:</strong>
  <%= @video.video_content %>
</p>

<h3>number of comments</h3>
<%=  @video.comments.count %>


<hr>

<%=  @video.comments.inspect %>


<hr>

<p>Partial</p>

<%= render 'videos/comment', collection: @video.comments.reverse%>
<hr>

<h2>Alle comments</h2>
<% @video.comments.each do |c| %>
  <p><%= c.body %></p>
    <p>user id: <%= c.user_id %></p>
    <p>user id: <%= c.user.username %></p>
    <p>Posted <%= distance_of_time_in_words(c.video.created_at, c.created_at) %> later</p>

<% end %>

<hr>


<%= render partial: 'comments/form' %>



<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
